@page "/barGraph"
@using MudBlazor;

<nav class="navbar title">Inventory Item taken out chart</nav>
<div class="graph-column">
    <div class="graph-row">
        <p class="quantityTaken">Quantisty taken</p>
        @{
            Dictionary<string, int> requestedItemsDictionary = new Dictionary<string, int>();
            // Read list of requested items to be used in foreach.
            
            foreach (var requestedItem in  _requestItems)
            {
                string itemName = requestedItem.ItemName;
                int sumOfQuantity = requestedItem.QuantityTaken;
                if(!requestedItemsDictionary.ContainsKey(itemName)){
                    requestedItemsDictionary[itemName] = sumOfQuantity;
                    
                }
                else{
                    requestedItemsDictionary[itemName] += sumOfQuantity;
                }
            }

            yAxisLabels = requestedItemsDictionary.Values.Select(x => (double)x).ToArray();
            xAxisLabels = requestedItemsDictionary.Keys.ToArray();

            barseries = new List<ChartSeries>()
        {
        new ChartSeries() {  Data = yAxisLabels},
        };
        }
        @* Creating bar graph for requested items and quantity requested. *@
        <div class="barGraph">
            <MudChart ChartType="ChartType.Bar" ChartSeries="@barseries" @bind-SelectedIndex="Index" XAxisLabels="@xAxisLabels" Width="100%" Height="350px">
                <CustomGraphics>
                    <style>
                         .mud-chart-bar{
                             stroke-width: 15px;
                             stroke: rgb(3, 115, 252);
                        }
                    </style>

                </CustomGraphics>
            </MudChart>
        </div>
    </div>

    <p>Items Requested</p>
</div>


@code {
    private int Index = 1;

    private List<RequestItems> _requestItems { get; set; }

    private List<string> ListOfItems = new List<string>();

    private List<int> ListOfQuantity = new List<int>();

    public List<ChartSeries> barseries;

    private double[] yAxisLabels;
    private string[] xAxisLabels;

    // Get all requested items
    protected override void OnInitialized()
    {
        _requestItems = RequestItemService.GetAll();
    }
}