@page "/viewlog"
<nav class="navbar title">Log of added and deleted items</nav>
<table class="table">
    <thead class="table-header">
        <tr>
            <th>
                <div class="d-flex">
                    Item
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Date
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Action Performed
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Action Performer
                </div>
            </th>
        </tr>
    </thead>
    @{
        IEnumerable<ViewLogItems> viewLogItemList = _logItems;
        foreach (var viewLogItem in viewLogItemList)
        {
            <tr>
                <td>@viewLogItem.ItemName</td>
                <td>@viewLogItem.ActionDate.ToString("MMM dd, yyyy")</td>
                <td>@viewLogItem.ActionPerformed</td>
                <td>
                    @{
                        var creator = UserService.GetById(viewLogItem.ActionPerformer);
                        <span>@(creator == null ? "unknown": creator.Username)</span>
                    }
                </td>
            </tr>
        }
    }
</table>

@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private List<ViewLogItems> _logItems { get; set; }

    protected override void OnInitialized()
    {
        _logItems = ViewLogService.GetAll();
    }

}
