/*login page*/
.login_body{
    display:flex;
    justify-content:center;
    margin-top: 100px;
}
.heading {
    color: #2588DA;
    font-size:40px;
}
.textfield {
    display:flex;   
    flex-direction: column;
    width: 400px;
    gap:10px;
}

.login_error{
    margin-top: 10px;
}

/*inventory page*/
.request_button {
    outline: 2px solid rgb(19, 153, 12);
}

    .request_button:hover {
        background-color: rgb(19, 153, 12);
        color: white;
    }
